<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${boardName}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
    <section>
        <input type="text" placeholder="검색어를 입력해주세요" class="search-post">
        <button class="search-post-btn" th:onclick="searchPost()">게시글 검색</button>
    </section>
    <aside class="select-board">
        <div class="free-board" th:onclick="moveBoard('자유 게시판')">자유 게시판</div>
        <div class="attention-board" th:onclick="moveBoard('공지 사항')">공지 사항</div>
        <div class="recruit-board" th:onclick="moveBoard('그룹 모집 게시판')">그룹 모집 게시판</div>
        <div class="evaluation-board" th:onclick="moveBoard('평가 게시판')">평가 게시판</div>
        <div class="share-board" th:onclick="moveBoard('정보 공유 게시판')">정보 공유 게시판</div>
    </aside>
    <section class="post-table">
        <table>
            <thead>
                <tr>
                    <th>작성자</th>
                    <th>제목</th>
                    <th>댓글</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="__${#lists.isEmpty(postList)}__">
                    <td colspan="5">게시글이 없습니다.</td>
                </tr>
                <tr th:if="${not #lists.isEmpty(postList)}" th:each="post, stat : ${postList}" th:onclick="|viewPost('__${post.postId}__', '__${boardName}__')|">
                    <a>
                        <td th:text="${post.author}">작성자</td>
                        <td th:text="${post.title}">제목</td>
                        <td th:text="${post.comments}">댓글</td>
                        <td th:if="${not #strings.isEmpty(post.updatedAt)}">[[${#temporals.format(post.updatedAt, 'yyyy.MM.dd HH:mm')}]] (수정됨)</td>
                        <td th:if="${#strings.isEmpty(post.updatedAt)}" th:text="${#temporals.format(post.createdAt, 'yyyy.MM.dd HH:mm')}">작성일</td>
                        <td th:text="${post.views}">조회수</td>
                    </a>
                </tr>
            </tbody>
        </table>

    </section>

    <section class="write-btn-view-my-post-btn" th:if="${boardName != '공지 사항' or #authorization.expression('hasAuthority(''Admin'')')}">
        <button th:onclick="|createPost('__${boardName}__')|">글쓰기</button>
        <button th:onclick="|viewMyPost('__${boardName}__')|">내가 쓴 글 보기</button>
    </section>

    <section class="page">
        <ul th:with="orderby = (__${request.getParameter('orderby')}__ == null ? 'postId' : __${request.getParameter('orderby')}__),
               sort = (__${request.getParameter('sort')}__ == null ? 'desc' : __${request.getParameter('sort')}__)">
            <li th:each="page : ${#numbers.sequence(__${currentStartPage}__, __${currentLastPage}__)}">
                <a th:href="@{__${request.getRequestURL()}__?page=__${page}__&orderby=__${orderby}__&sort=__${sort}__}" th:text="__${page}__"></a>
            </li>
        </ul>
    </section>
</body>
<script th:inline="javascript" src="/postList.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</html>